

<main>
  <p id="notice"></p>
  <div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
  		<h1>Editing Book</h1>
  		<%= form_with model:@book, local:true do |f| %>

  		<form action="/books/36316" accept-charset="UTF-8" method="post">
  		  <input name="utf8" type="hidden" value="✓">
  		  <input type="hidden" name="_method" value="patch">
  		  <input type="hidden" name="authenticity_token" value="oKneyPNwEJkFH7P3e4sQt4WrUPB7eWXeR/wFFsu2LwF5c/L3hUV/MPn6IqHzz6RG4RDSDIFEYdR0X7aMLZAJsg==">

        <div class="form-group">
          <label for="book_title">Title</label>
          <%= f.text_field :title %>
        </div>

        <div class="form-group">
          <label for="book_opinion">Opinion</label>
          <%= f.text_area :body %>
        </div>

        <div class="form-group">

          <input type="submit" name="commit" value="Update Book" class="btn btn-success" data-disable-with="Update Book">
        </div>
        <% end %>
      </form>

      <thead>
      <tr>
  		  <td><%= link_to "Show", @book %></td>
  		  <td><%= link_to "Back", books_path %></td>
  		</tr>
  		</thead>
      </div>
    </div>
  </div>
</main>